{% extends "base.html" %}


{% block dynamic_title %}
    EDITAR CONTRASEÑA
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    EDITAR CONTRASEÑA
{% endblock dynamic_h1 %}   


{% block dynamic_main %}
    
    <ul>
        <br>
        <form action={% url "editar_password" %} method="POST">
            {% csrf_token %}

            <br>
            <table>
                {{form}}
            </table>

            <br>
            <input type="submit" value="Editar Password">

            </form>

    </ul>

{% endblock dynamic_main %}