{% extends "base.html" %}


{% block dynamic_title %}
    Sobre Mi
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Sobre Mi
{% endblock dynamic_h1 %}   


{% block dynamic_main %}

    <h2> Acerca de nuestra App </h2>

    <p>La idea del sitio web es poder gestionar en una base de datos los juegos ingresados que se necesiten, ya sea para un e-commerce o cualquier otra aplicación que requiera de la gestion de estos datos.</p>
    <p>Por el momento el sitio carece de funcionalidades complejas pero si tiene las funcionalidades básicas para poder gestionar los juegos de manera sencilla. Con el pasar del tiempo se irán agregando nuevas funcionalidas y mejoras, con el fin de hacer un sitio mas agradable y con mejores recursos.</p>

{% endblock dynamic_main %}