{% extends "base.html" %}


{% block dynamic_title %}
    Editar Información
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Editar Información
{% endblock dynamic_h1 %}   


{% block dynamic_main %}
    
    <ul>
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h3><b>Información a editar</b></h3>

        <table>
            {{formulario_actualizar.media}}
            {{formulario_actualizar}}
        </table>

        <input type="submit" value="Editar">

        </form>
    </ul>

{% endblock dynamic_main %}