{% extends "base.html" %}


{% block dynamic_title %}
    Crear Consola
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Crear Consola
{% endblock dynamic_h1 %}   


{% block dynamic_main %}
    
    <ul>
        <br>
        <form action="" method="POST">
            {% csrf_token %}

            <h3><b>Datos de la Consola a crear</b></h3>

            <br>
            <table>
                {{formulario_consola}}
            </table>

            <br>
            <input type="submit" value="Crear Consola">

            </form>

    </ul>

{% endblock dynamic_main %}