{% extends "base.html" %}


{% block dynamic_title %}
    Crear Periférico
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Crear Periférico
{% endblock dynamic_h1 %}   


{% block dynamic_main %}
    
    <ul>
        <br>
        <form action="" method="POST">
            {% csrf_token %}

            <h3><b>Datos del Periférico a crear</b></h3>

            <br>
            <table>
                {{formulario_periferico}}
            </table>

            <br>
            <input type="submit" value="Crear Periférico">

        </form>


    </ul>

{% endblock dynamic_main %}