{% extends "base.html" %}


{% block dynamic_title %}
    Busqueda de Juegos
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Lista de Juegos
{% endblock dynamic_h1 %}   


{% block dynamic_main %}

    <ul>
        <br>
        <button type="button">
            <a href={% url "crear_juego" %}> Crear Nuevo Juego </a>
        </button>
        <br><br>
        <form action="">
            <input type="text" name='nombre' placeholder= 'Juego a Buscar'>
            <input type="submit" value='Buscar'>
        </form>
        <br><br>
        <h2>Listado de Juegos</h2>
    </ul>

    {% if lista_juegos%}
    <ul>
        <p>--------------------------------------------------------------------------------------</p>

        {% for juego in lista_juegos %}

        <li>
        
            <h5><b>Nombre:</b> {{juego.nombre}} | <b>Género:</b> {{juego.genero}} <br><br></h5>

            <button type="button">
                <a href={% url "detalle_juego" juego.id %}> Detalles </a>
            </button>

            <button type="button">
                <a href={% url "actualizar_juego" juego.id %}> Editar Información </a>
            </button>
            
            <button type="button">
                <a href={% url "eliminar_juego" juego.id %}> Eliminar </a>
            </button>

            <br><br>

            <p>--------------------------------------------------------------------------------------</p>
        
        </li>

        {% endfor %}
    </ul>
    {% else %}
        <h5>No se encontraron resultados.</h5>
    {% endif%}


{% endblock dynamic_main %}