{% extends "base.html" %}


{% block dynamic_title %}
    Busqueda de Juegos
{% endblock dynamic_title %}


{% block dynamic_h1 %}
    Lista de Juegos
{% endblock dynamic_h1 %}   


{% block dynamic_main %}

    <form action="">
        <input type="text" name='nombre' placeholder= 'Nombre del juego'>
        <input type="submit" value='Buscar'>
    </form>

    {% if lista_juegos%}
    <ul>
        {% for juego in lista_juegos %}

        <li>{{juego}}</li>

        {% endfor %}
    </ul>
    {% else %}
        <h3>No se encontro el juego especificado</h3>
    {% endif%}


{% endblock dynamic_main %}